/*
haccing skill #2: view webpage's css files
*/

@import "https://www.nerdfonts.com/assets/css/webfont.css";

* {
    transition: all 500ms cubic-bezier(0.6, 0, 0, 1);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

@media prefers-reduced-motion {
    * {
        /*noinspection CssUnknownProperty*/
        transition: none !important;
    }
}

:root {
    --amog-green: #66DDCC;
    --amog-green-transparent: rgba(102, 221, 204, 0.2);
    --amog-blue: #7289DA;
    --amog-blue-transparent: rgba(114, 137, 218, 0.2);
    --amog-blacky: #070A0E;
    --amog-blacky-transparent: rgba(7, 10, 14, 0.2);
    --amog-black: #0D1117;
    --amog-black-transparent: rgba(13, 17, 23, 0.2);
    --amog-black-plus: #161B22; /*i rlly like dark palettes*/
}

body {
    background-color: var(--amog-blacky);
    color: #FFF;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover, span {
    color: var(--amog-blue);
}

code {
    font-family: "Fira Code", monospace;
    background-color: var(--amog-black-transparent);
    border-radius: 4px;
    padding: 0.1em 0.5em;
    border: solid 2px var(--amog-green-transparent);
}

.container {
    position: relative;
}

#toppat {
    position: relative;
    z-index: 2;

    & img {
        width: 64px;
        position: absolute;
        top: -30px;
        right: 50%;
        z-index: -1;
        transition: all 500ms cubic-bezier(0.6, 0, 0, 1);
    }
}

hr {
    width: 90%;
    height: 2px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, var(--amog-blue), var(--amog-green));
}

nav {

    position: fixed;
    top: 1em;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: var(--amog-black-transparent);
    border-radius: 24px;
    padding: 1em;

    & a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;

        font-size: 1.5em;
        font-weight: 500;
        text-decoration: none;
        user-select: none;

        background: linear-gradient(to bottom right, var(--amog-blue-transparent), var(--amog-green-transparent));
        backdrop-filter: blur(10px);
        border-radius: 1em;
        padding: 0.1em 1em;
        border: solid 2px var(--amog-green-transparent);

        &:hover, &:focus {
            outline: none;
            filter: brightness(0.75);
            border: solid 2px var(--amog-green);
        }
    }
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url(../img/sus-on-moon.jpg);
    background-position: 100% 50%;
    background-size: cover;
    box-shadow: 0 0 20px 0 #000;
    text-align: center;
    transition: unset;
}

header h1 {
    font-size: 70px;
}

header h1 span {
    font-size: 70px;
    background-image: linear-gradient(to bottom right, var(--amog-green), var(--amog-blue));
    white-space: nowrap;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

/* Updated button styles */
.buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

button, .button {
    padding: 0.6em 1em;
    border-radius: 1em;
    outline: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    border: 2px solid transparent;
    transition: 0.3s;

}

.btn-prim {
    background-color: var(--amog-green);
    color: #000;

    &:hover, &:focus {
        background-color: transparent;
        border: solid 2px var(--amog-green);
        color: var(--amog-green);

        box-shadow: 0 0 0 1px var(--amog-green-transparent),
        0 2px 4px var(--amog-green-transparent),
        0 4px 8px var(--amog-green-transparent),
        0 8px 16px var(--amog-green-transparent),
        0 16px 32px var(--amog-green-transparent),
        0 32px 64px var(--amog-green-transparent);
    }

}

.btn-sec {
    background-color: transparent;
    border: solid 2px var(--amog-blue);
    color: var(--amog-blue);

    &:hover, &:focus {
        background-color: var(--amog-blue);
        color: #000;

        box-shadow: 0 0 0 1px var(--amog-blue-transparent),
        0 2px 4px var(--amog-blue-transparent),
        0 4px 8px var(--amog-blue-transparent),
        0 8px 16px var(--amog-blue-transparent),
        0 16px 32px var(--amog-blue-transparent),
        0 32px 64px var(--amog-blue-transparent);
    }

}


.btn-third {
    background-color: transparent;
    border: solid 2px var(--amog-black-plus);
    color: #FFF;

    &:hover, &:focus {
        background-color: var(--amog-black-plus);

        box-shadow: 0 0 0 1px var(--amog-blacky-transparent),
        0 2px 4px var(--amog-blacky-transparent),
        0 4px 8px var(--amog-blacky-transparent),
        0 8px 16px var(--amog-blacky-transparent),
        0 16px 32px var(--amog-blacky-transparent),
        0 32px 64px var(--amog-blacky-transparent);
    }
}


section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;

    width: 100vw;
    max-width: 1280px;
}

.feature {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 90%;
    gap: 20px;
    background-color: var(--amog-black);
    border-radius: 20px;
    overflow: hidden;

    &:nth-child(odd) .lbl {
        align-items: flex-end;
        justify-content: flex-end;
        text-align: right;
    }
}

.feature img {
    width: 40%;
}

.feature .lbl {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;

}

.download-list {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.support {
    width: calc(90% - 10px);
    border-radius: 10px;
    padding: 10px;
    border: solid 4px var(--amog-green-transparent);
}

#story .content {
    width: calc(90% - 10px);
    padding: 10px;
    font-size: 20px;
}

.bois {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 10px;
}

.coolboi {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 1em;
    border-radius: 10px;
    border: solid 2px var(--amog-green-transparent);
    background-color: var(--amog-black-transparent);
    overflow: hidden;
    aspect-ratio: 1/1;
    animation: coolboi-in 250ms cubic-bezier(0.6, 0, 0, 1);

    &.not1x1 {
        aspect-ratio: unset;
    }

    & a {
        color: #FFF;
        font-size: 1.5em;

        &:hover {
            color: var(--amog-blue);
        }

    }

    & .role {
        background-color: var(--amog-green);
        padding: 2px 10px;
        border-radius: 6em;
        font-size: 12px;
        font-weight: 500;
        color: var(--amog-black);
        user-select: none;
    }

    & img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.2);
        filter: brightness(0.5) blur(4px) grayscale(1);
        width: 100%;
        position: absolute;
        z-index: -1;
        object-fit: cover;
    }

    & .links {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
    }

    &:hover {
        border: solid 2px var(--amog-green);

        & img {
            filter: brightness(0.5) blur(4px) grayscale(0);
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

@keyframes coolboi-in {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

footer {

    background:  linear-gradient(to bottom right, var(--amog-blue-transparent), var(--amog-green-transparent)), url("../img/airship.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 2em;
    padding: 2em;
    max-width: 1200px;
    width: 75%;
    margin-bottom: 2em;


    display: grid;
    grid-template-areas:
        "logo logo empty"
        "text links social";
    gap: 1em;


    .footer__text {
        grid-area: text;
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
    }

    .footer__subsection {
        background-color: var(--amog-blacky-transparent);
        backdrop-filter: blur(10px) brightness(75%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
        border-radius: 1em;
        overflow: visible;
    }

    .logo {
        grid-area: logo;

        & img {
            background-color: var(--amog-blacky-transparent);
            backdrop-filter: blur(10px) brightness(75%);
            padding: 0.5em;
            border-radius: 1em;
            width: 100%;
            max-width: 13em;
            object-fit: cover;
            position: relative;
            top: 0;
            left: 0;
        }
    }

    .footer__social {
        grid-area: social;
    }

    .footer__links {
        grid-area: links;
    }


    .footer__link {
        width: auto;
        font-weight: 700;
        color: var(--amog-green);
        transition: all 0.25s cubic-bezier(0.6, 0, 0, 1);

        &:hover {
            color: var(--amog-blue);
        }
    }

}

@media (max-width: 1200px) {

    nav {
        border-radius: unset;
        top: 0;
        width: calc(100vw - 2em);
        margin: 0 1em;

        & a {
            text-align: center;
            flex: 1;
            font-size: 1.2em;
            padding: 0.1em 0.5em;
        }

    }
}

@media (max-width: 768px) {

    footer {
        grid-template-areas:
      "logo"
      "text"
      "links"
      "social";
        grid-template-columns: 1fr;
        gap: 1em;
    }

    nav {
        padding: 0.5em;
    }


    header {
        height: 60vh;
        gap: 10px;
    }

    button {
        padding: 10px 30px;
        border-radius: 15px;
    }

    header h1, header h1 span {
        font-size: 40px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        flex-direction: column !important;
        border-radius: 20px;

        & img, & .lbl {
            width: 100%;
        }

        & .lbl {
            justify-content: center;
            justify-items: center;
            align-items: center;

            & h1, & p {
                text-align: center;
                width: 100%;
            }
        }
    }
}
